      BODY { font-family: Tahoma, Arial, Helvetica, sans-serif; 
          font-size: 12pt; }

      .largest { font-size: 20pt; }
      .large { font-size: 16pt; }
      .small { font-size: 10pt; }

      INPUT.register { font-family: Tahoma, Arial, Helvetica, sans-serif;
                       font-size: 16pt; }

      DIV.header {
        font-size: 16pt;
                       background-color: #ffc78d;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #ffeddb #ffaf97 #ffaf97 #ffeddb;
                 }

      DIV.indent { margin-left: 30px; }
