#schedule {margin-bottom: 30px;}
#schedule #one-fourth {width: 100%; margin-bottom: 24px;padding:5px 15px;text-align: left; color: #fff;}
#schedule #one-fourth h3, #schedule #one-fourth p {color: #fff; margin: 15px 0;}
#schedule #one-fourth h3 {font-size: 18px;}
#schedule .row #one-fourth div a {color: white; text-decoration: underline}
#schedule #one-fourth.track-1 {background-color:#630d1a}
#schedule #one-fourth.track-102 {background-color:#44b75c}
#schedule #one-fourth.track-2 {background-color:#fd8c2a}
#schedule #one-fourth.track-3 {background-color:#7bb7cd}
#schedule #one-fourth.track-4 {background-color:#dbaa2e}
#schedule #one-fourth.track-5 {background-color:#297ca5}
#schedule #one-fourth.track-6 {background-color:#d14928}
#schedule #one-fourth.track-7 {background-color:#455159}
#schedule #one-fourth.track-8 {background-color:#A2285E}
#schedule #one-fourth.track-9 {background-color:#FF5D40}
#schedule #one-fourth.track-10 {background-color:#6A237E}
#schedule #one-fourth.track-11 {background-color:#589800}

.schedule-item, .header-item, .registration-item {
	border-radius:4px;-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50,50,50,0.25);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50,50,50,0.25);
	box-shadow:         1px 1px 2px 0px rgba(50,50,50,0.25);
}

.schedule-item-session {
	border-top: 1px dotted rgba(255,255,255,0.3);
}
