#speaker {
  img {
    margin: 0 80px 80px 60px;
  }

  div.biography-header {
    background-color: #6c9c31;
    padding: 30px 60px;
    margin: 0;
    color: white;
  }

  div.biography-body {
    margin: 40px;
    font-size: 20px;
  }
  div.presentation-header {
    background-color: #f6921e;
    padding: 30px 60px;
    margin: 0;
    color: white;
  }
  div.presentation-body {
    margin: 40px;
    font-size: 20px;
  }

  .speaker-member {
    background-color: #282828;
    padding-top: 60px;
    margin: 0;
    span {
      color: white;
      margin-right: 10px;
    }

    h4 {
      color: white;
      font-size: 36px;
      font-weight: bold;
      clear: none;
    }

    a {
      clear: right;
    }
  }
}
.speaker-link:hover {
	color: #f9ad62;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}
