---
title: Past Conferences
layout: info
---

<section class="container-fluid conference-information">
	<h1 class="featured-header">Past Conferences</h1>
	<div class="row">
		<div id="event" class=" level-height col-md-6 col-lg-4">
			<div>
				 <h3 class="title">
					 Devnexus 2025
				 </h3>
				 <ul>
					 <li><a
					 href="/archive/devnexus2025/speakers/">Speakers</a></li>
					 <li><a
					 href="/archive/devnexus2025/presentations/">Presentations</a></li>
				 </ul>
	                  </div>
	         </div>	 	
			<div>
				 <h3 class="title">
					 Devnexus 2024
				 </h3>
				 <ul>
					 <li><a
					 href="/archive/devnexus2024/speakers/">Speakers</a></li>
					 <li><a
					 href="/archive/devnexus2024/presentations/">Presentations</a></li>
				 </ul>
	                  </div>
	         </div>	 	
		<div id="event" class=" level-height col-md-6 col-lg-4">
			<div>
				 <h3 class="title">
					 Devnexus 2023
				 </h3>
				 <ul>
					 <li><a
					 href="/archive/devnexus2023/speakers/">Speakers</a></li>
					 <li><a
					 href="/archive/devnexus2023/presentations/">Presentations</a></li>
				 </ul>
				 
	   </div>	   
	 </div>	
		<div id="event" class=" level-height col-md-6 col-lg-4">
			<div>
				 <h3 class="title">
					 Devnexus 2022
				 </h3>
				 <ul>
					 <li><a
					 href="/archive/devnexus2022/speakers/">Speakers</a></li>
					 <li><a
					 href="/archive/devnexus2022/presentations/">Presentations</a></li>
				 </ul>
				 
	   </div>	   
	 </div>	
		<div id="event" class=" level-height col-md-6 col-lg-4">
			<div>
				 <h3 class="title">
					 Devnexus 2021
				 </h3>
				 <ul>
					 <li><a
					 href="/archive/devnexus2021/speakers/">Speakers</a></li>
					 <li><a
					 href="/archive/devnexus2021/presentations/">Presentations</a></li>
				 </ul>
				 
	   </div>	   
	 </div>		
	<div id="event" class=" level-height col-md-6 col-lg-4">
		<div>
			 <h3 class="title">
				 Devnexus 2020
			 </h3>
			 <ul>
				 <li><a
				 href="/archive/devnexus2020/speakers/">Speakers</a></li>
				 <li><a
				 href="/archive/devnexus2020/presentations/">Presentations</a></li>
			 </ul>
			 
   </div>	   
 </div>	
	
	<div id="event" class=" level-height col-md-6 col-lg-4">
           <div>
				<h3 class="title">
					Devnexus 2019
				</h3>
				<ul>
					<li><a
					href="/archive/devnexus2019/speakers/">Speakers</a></li>
					<li><a
					href="/archive/devnexus2019/presentations/">Presentations</a></li>
				</ul>
	     	   
	  </div>	   
	</div>	
{% for _year in site.data.archives reversed %}
	<div id="event" class=" level-height col-md-6 col-lg-4">
			<div>
				<h3 class="title">
					{{_year.title}}
				</h3>
				<ul>
					<li><a
					href="/archive/{{_year.id}}/speakers.html">Speakers</a></li>
					<li><a
					href="/archive/{{_year.id}}/presentations.html">Presentations</a></li>
					{% if _year.recordings %}
					<li><a
					href="{{_year.recordings}}">Recordings</a></li>
					{% endif %}
				</ul>
			</div>
	</div>
{% endfor %}
</div>
</section>
