---
title: Past Conferences
layout: info
---

<section class="container-fluid conference-information">
	<h1 class="featured-header">Past Conferences</h1>

<div class="row">
{% for _year in site.data.archives reversed %}
	<div id="event" class=" level-height col-md-6 col-lg-4">
			<div>
				<h3 class="title">
					{{_year.title}}
				</h3>
				<ul>
					<li><a
					href="/archive/{{_year.id}}/speakers.html">Speakers</a></li>
					<li><a
					href="/archive/{{_year.id}}/presentations.html">Presentations</a></li>
					{% if _year.recordings %}
					<li><a
					href="{{_year.recordings}}">Recordings</a></li>
					{% endif %}
				</ul>
			</div>
	</div>
{% endfor %}
</div>
</section>
