.registerbox {
  font-size: 18pt;
  font-weight: bold;
  line-height: 1.1em;
  text-align: center;
  background-color: #ffeddb;
  padding: 5px;
  margin: none;
}

.datebox {
  font-size: 12pt;
  line-height: 1.2em;
  text-align: center;
  margin: none
}

#footer span.design {
  font-size: 7pt;
}
