<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<springProfile name="cloud, demo">

	</springProfile>

	<springProfile name="!cloud, !demo">
		<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<append>true</append>
			<File>${TING_HOME}/logs/ting.log</File>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d %5p [%t][%X{sessionId}][%X{username}][%-55logger{55}] %m [%X{requestUrl}]%n</pattern>
			</layout>
			<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>ting%i.log</FileNamePattern>
				<maxIndex>50</maxIndex>
			</rollingPolicy>
			<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>4096KB</MaxFileSize>
			</triggeringPolicy>
		</appender>
		<root>
			<level value="WARN"/>
			<appender-ref ref="LOGFILE"/>
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

	<logger name="com.devnexus.ting.web.WebAppInitializer">
		<level value="INFO"/>
	</logger>
	<logger name="com.devnexus.ting.web.config">
		<level value="INFO"/>
	</logger>
	<logger name="com.devnexus.ting.DefaultApplicationContextInitializer">
		<level value="INFO"/>
	</logger>

	<logger name="com.devnexus.ting.web.controller.admin">
		<level value="INFO"/>
	</logger>
	<logger name="ro.isdc.wro">
		<level value="ERROR"/>
	</logger>

	<logger name="org.springframework.security">
		<level value="INFO"/>
	</logger>
	<logger name="org.springframework.web">
		<level value="WARN"/>
	</logger>
	<logger name="org.springframework">
		<level value="WARN"/>
	</logger>
	<logger name="org.springframework.integration">
		<level value="WARN"/>
	</logger>
	<logger name="org.springframework.messaging">
		<level value="WARN"/>
	</logger>

	<logger name="org.hibernate.type">
		<level value="WARN"/>
	</logger>
	<logger name="org.apache">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="WARN"/>
	</logger>
	<logger name="com.devnexus.ting">
		<level value="WARN"/>
	</logger>
	<logger name="ch.qos.logback">
		<level value="WARN"/>
	</logger>
	<logger name="com.devnexus.ting">
		<level value="INFO"/>
	</logger>
</configuration>

