<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<File>${TING_HOME}/logs/ting.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %5p [%t][%X{sessionId}][%X{username}][%-55logger{55}] %m [%X{requestUrl}]%n</pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>ting%i.log</FileNamePattern>
			<maxIndex>50</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2048KB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="LOGFILE-SECURITY" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<File>${TING_HOME}/logs/ting-security.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %5p [%t][%X{sessionId}][%X{username}][%-55logger{55}] %m [%X{requestUrl}]%n</pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>ting-security%i.log</FileNamePattern>
			<maxIndex>50</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2048KB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %5p | %t | %X{sessionId} | %X{username} | %-55logger{55} | %m | %X{requestUrl}%n</pattern>
		</layout>
	</appender>

	<appender name="SMTP" class="ch.qos.logback.classic.net.SMTPAppender">
		<From>no_reply_errors@devnexus.org</From>
		<Subject>Ting - Error Log</Subject>
		<To>errors@devnexus.org</To>
		<SMTPHost>localhost</SMTPHost>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %5p [%t][%-55logger{55}] - %m%n</pattern>
		</layout>
	</appender>

	<logger name="org.springframework.security">
		<level value="WARN"/>
	</logger>
		<logger name="org.springframework.web">
		<level value="WARN"/>
	</logger>
		<logger name="org.springframework">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate.type">
		<level value="WARN"/>
	</logger>
	<logger name="org.apache">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate">
		<level value="WARN"/>
	</logger>
	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="WARN"/>
	</logger>
	<logger name="com.devnexus.ting">
		<level value="INFO"/>
	</logger>
	<logger name="ch.qos.logback">
		<level value="WARN"/>
	</logger>
	<logger name="com.hillert.apptools.spring.SecurityEventListener">
		<level value="INFO"/>
		<appender-ref ref="LOGFILE-SECURITY"/>
	</logger>
	<logger name="com.hillert.apptools.spring">
		<level value="INFO"/>
	</logger>
	<root>
		<level value="INFO"/>
		<appender-ref ref="LOGFILE"/>
		<appender-ref ref="CONSOLE"/>
	</root>
	<root>
		<level value="ERROR"/>
		<appender-ref ref="SMTP"/>
	</root>
</configuration>
