<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d %5p [ %F:%L ] - %m%n</pattern>
    </layout>
  </appender>
  <logger name="org.springframework.security">
    <level value="WARN"/>
  </logger>
  <logger name="org.springframework">
    <level value="WARN"/>
  </logger>
  <logger name="org.hibernate.cache">
    <level value="WARN"/>
  </logger>
  <logger name="org.hibernate.type">
    <level value="INFO"/>
  </logger>
  <logger name="org.apache">
    <level value="WARN"/>
  </logger>
  <logger name="org.hibernate.SQL">
    <level value="INFO"/>
  </logger>
  <logger name="org.hibernate">
    <level value="WARN"/>
  </logger>
  <logger name="org.hibernate.tool.hbm2ddl">
    <level value="WARN"/>
  </logger>
  <logger name="net.jawr">
    <level value="INFO"/>
  </logger>
  <logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
    <level value="ERROR"/>
  </logger>
  <root>
    <level value="INFO"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>