
    <nav class="overflow-x-autonavbar navbar-inverse pt-4 pr-4" id="nav" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  <a href="/"><img class="navbar-brand" src="/assets/img2026/dn-white-transparent-horizontal.png" alt="dev/nexus"/></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">              
                <ul class="nav navbar-nav navbar-left">
                    {% if site.cfp-is-open %}
                    <li class="nav-link"><a href="/call-for-papers">CALL FOR PAPERS</a></li>
                    {% endif %}
                    <li class="nav-link"><a href="{{site.links.announcements}}">GET INFO</a></li>
                </ul>
                <div class="navbar-right mb-4">
                    {% include buttons/register.html %}
                </div>
            </div>
    </nav>

