<div class="footer">
    <div>
        <img  class="center-block" style="margin-top: 40px;padding-left: 50px;width:auto;height: auto" src="/assets/img/devnexus-logo.png" alt="logo"/>
    </div>
    <div style="text-align: center;margin-top: 40px">

        <a href="/speakers" class="text">speakers</a> &nbsp;
        <a href="/presentations" class="text">tracks</a> &nbsp;
        <a href="/#sponsorlist" class="text">sponsors</a> &nbsp;
        <a href="/conference-info" class="text">conference info</a> &nbsp;
    <div style="text-align: center;margin-top: 5px"> &nbsp;
        <a href="/code-of-conduct" class="text">code of conduct</a> &nbsp;
        <a href="/privacy-policy" class="text">privacy policy</a> &nbsp;
        <a href="/organizers" class="text">organizers</a> &nbsp;
        <a href="/past-conferences" class="text">past conferences</a> &nbsp;
    </div>
    <div style="text-align: center;margin-top: 5px">
        <a href="/we-are-opensource" class="text">We are open-source</a>
    </div>
    <div style="text-align: center;margin-top: 5px">
       {% include inline-social.html %}
    </div>
</div>
