<div class="footer">
    <div>
        <img class="mx-auto block w-1/2 h-auto mt-4" src="/assets/img2026/dn-white-transparent-horizontal.png" alt="logo"/>
    </div>
    <div class="text-center mt-10">
        <ul class="grid grid-cols-1 gap-3 md:grid-cols-3 items-center">

            <li>
                <a href="/conference-info" class="text">Conference Info</a>
            </li>
            <li><a href="{{site.links.recordings}}" class="text">Recordings</a></li>
            <li>
                <a href="/past-conferences" class="text">past conferences</a>
            </li>
            <li>
                <a href="/code-of-conduct" class="text">code of conduct</a>
            </li>
            <li>
                <a href="/privacy-policy" class="text">privacy policy</a>
            </li>
            <li>
                <a href="/organizers" class="text">organizers</a>
            </li>
        </ul>
    </div>
    <div class="text-center mt-1.5">
        <a href="/we-are-opensource" class="text">We are open-source</a>
    </div>
    <div class="text-center mt-1.5">
       {% include inline-social.html %}
    </div>
</div>
