<div class="footer">
    <div>
        <img  class="center-block" style="margin-top: 40px;padding-left: 50px;width:auto;height: auto" src="/assets/img2026/dn-black-white-horizontal.png" alt="logo"/>
    </div>
    <div style="text-align: center;margin-top: 40px">

        <ul style="display: flex; justify-content: center; gap: 20px; padding-left: 0; margin: 0;">
            {% comment %}
            <li style="display: inline; margin: 0 8px;">
                <a href="/speakers" class="text">speakers</a>
            </li>
            <li style="display: inline; margin: 0 8px;">
                <a href="/presentations" class="text">sessions</a>
            </li>
            <li style=" display: inline; margin: 0 8px;">
                <a href="/conference-info" class="text">conference info</a>
            </li>
            {% endcomment %}
            <li style="display: inline; margin: 0 8px;">
                <a href="/past-conferences" class="text">past conferences</a>
            </li>
            <li style="display: inline; margin: 0 8px;">
                <a href="/#sponsorlist" class="text">sponsors</a>
            </li>
         <li style=" display: inline; margin: 0 8px;"></li><a href="/code-of-conduct" class="text">code of conduct</a></li>
         <li style=" display: inline; margin: 0 8px;"></li><a href="/privacy-policy" class="text">privacy policy</a></li>
         <li style=" display: inline; margin: 0 8px;"></li><a href="/organizers" class="text">organizers</a>  </li>
        </ul>
    </div>
    <div style="text-align: center;margin-top: 5px">
        <a href="/we-are-opensource" class="text">We are open-source</a>
    </div>
    <div style="text-align: center;margin-top: 5px">
       {% include inline-social.html %}
    </div>
</div>
