<ul class="list-inline hero-social">
  <li><a href="https://www.facebook.com/{{page.facebook_target}}/" target="_blank"><img src="/assets/img/facebook-logo-button.png"/></a></li>
  <li><a href="https://twitter.com/{{page.twitter_target}}" target="_blank"><img src="/assets/img/twitter-logo-button.png"/></a></li>
  <li><a href="https://www.flickr.com/search/?sort=date-taken-desc&safe_search=1&text={{page.twitter_target}}" view_all="1" target="_blank"><img src="/assets/img/instagram-logo.png"/></a></li>
  <li><a href="https://plus.google.com/+{{page.google_target}}" target="_blank"><img src="/assets/img/google-plus-1.png"/></a></li>
</ul>
