<ul class="list-inline hero-social">
  <li><a href="https://www.facebook.com/{{site.data.social.facebook_target}}/" target="_blank"><img src="/assets/img/facebook-logo-button.png"/></a></li>
  <li><a href="https://twitter.com/{{site.data.social.twitter_target}}" target="_blank"><img src="/assets/img/twitter-logo-button.png"/></a></li>
  <li><a href="https://www.flickr.com/search/?sort=date-taken-desc&safe_search=1&text={{site.data.social.twitter_target}}" view_all="1" target="_blank"><img src="/assets/img/instagram-logo.png"/></a></li>
</ul>
