<div class="row marketing-panel">
  <div class="col-md-3 what-is">
    <div>
      <h1>WHAT IS DEVNEXUS?</h1>
      <ul class="list-unstyled">
        <li>PROFESSIONAL</li>
        <li>DEVELOPERS</li>
        <li>CONFERENCE</li>
      </ul>
      <p>Find out what makes DEVNEXUS special from attendees at the 2016 event.</p>
    </div>
  </div>
  <div  id="J7XpqF8rHS8" class="col-md-9 video-container preview">
    <a class="center-block" href="javascript:return false;">
      <img id="video-play-button"
           class="play img-responsive center-block play-button"
           src="/assets/img/play-button.png"
           alt="Play Promo Video"/>
    </a>
  </div>
</div>
<!--
{% assign workshops = site.events | where:"track","workshop" %}
<div class="row">
    <h1 class="featured-header">WORKSHOPS</h1>
     {% include event_thumb_speaker_background.html collection=workshops %}
     </div>
     <a href="/presentations" class="btn btn-square btn-square btn-speakers center-block">SEE ALL SESSIONS</a>
 </div>
-->
