<div class="row marketing-panel">
  <div class="col-md-3 what-is">
    <div>
      <h1>WHAT IS DEVNEXUS?</h1>
      <ul class="list-unstyled">
        <li>3 DAYS</li>
        <li>6 FULL-DAY TRAININGS</li>
        <li>14 CONCURRENT TRACKS</li>
        <li>160 SPEAKERS</li>
      </ul>
      <p>
      The longest-running and largest Java Ecosystem Conference in the world. Find out what makes DEVNEXUS special. Here is a recap of the 2023 event.</p>
    </div>
  </div>
  <div  id="x2pYHLx70rQ" class="col-md-9 video-container preview">
    <a class="center-block" href="javascript:return false;">
      <img id="video-play-button"
           class="play img-responsive center-block play-button"
           src="/assets/img/play-button.png"
           alt="Play Promo Video"/>
    </a>
  </div>
</div>
