<div class="row marketing-panel">
  <div class="col-md-3 what-is">
    <div>
      <h1>WHAT IS DEVNEXUS?</h1>
      <ul class="list-unstyled">
        <li>PROFESSIONAL</li>
        <li>DEVELOPERS</li>
        <li>CONFERENCE</li>
      </ul>
      <p>Find out what makes DEVNEXUS special from attendees at the 2016 event.</p>
    </div>
  </div>
  <div  id="J7XpqF8rHS8" class="col-md-9 video-container preview">
    <a class="center-block" href="javascript:return false;">
      <img id="video-play-button"
           class="play img-responsive center-block play-button"
           src="/assets/img/play-button.png"
           alt="Play Promo Video"/>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="copy">
      <p>The goal of the Devnexus Conference is to connect developers from all over the world, provide affordable education, and promote Open Source values.</p>
    </div>
  </div>
</div>
