<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/img/devnexus-logo.png" alt="DevNexus"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="nav-link"><a href="https://schedule.devnexus.com">FEEDBACK</a></li> -->
                <li class="nav-link"><a href="{{site.links.announcements}}">ANNOUNCEMENTS</a></li>
                <li class="nav-link"><a href="/conference-info">CONFERENCE INFO</a></li>
                <li class="nav-link"><a href="/workshops">WORKSHOPS</a></li>
                <li class="nav-link"><a href="/speakers/">SPEAKERS</a></li>
                <li class="nav-link"><a href="/schedule">SCHEDULE</a></li>
                <!-- <li class="nav-link"><a href="/presentations/">PRESENTATIONS</a></li> -->
                <li class="nav-link"><a href="/#sponsorlist">SPONSORS</a></li>
                {% if site.registration == "open" %}
                <li class="nav-link"><a class="btn btn-register" href="{{site.links.register}}">REGISTER!</a></li>
                {% else %}
                <li class="nav-link"><a class="btn btn-register enabled">REGISTER HERE</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
