{% assign tracks = "Unobtanium, Java Platform, Practices and Other Tech, Cloud Technology, Agile, Security, Web and Front-end, Tools and Techniques, Core Java, Cloud Infrastructure, Architecture, Frameworks" %}

{% for track in include.data   %}

{% if tracks contains track.title %}
<div >
    <input class="form-check-input " type="checkbox" id="{{ track.trackkey | replace: ' ', '-' | downcase}}" value="{{ track.trackkey }}" onChange="applyFilter()">
     <label class="form-check-label" for="track-{{ track.trackkey }}">
       {{ track.title }}
     </label>
 </div>
 {% endif %}
 {% endfor %}