{% assign preso_url = include.details.title | slugify %}
{% assign roomkey = include.details.room | strip %}
{% assign roomno = site.data.cfp_rooms_to_gwwc[roomkey] %}
<div class="row schedule-row workshop">
		<div class=" col-xs-12 workshtop">
				<a href="/presentations/{{preso_url}}">{{include.details.title | escape}}</a>
				<br/>
				<span class="small">
				{% for speaker in include.details.speakers%}
				    {% assign speaker_url = speaker.name | slugify %}
					 <a href="/speakers/{{speaker_url}}">{{ speaker.name }}</a>
				{% endfor %}
			 </span>
			 <span class="small pull-right">
				Workshop | {{ roomno }} 
 			</span>
	    </div>
</div>
