{% assign preso = include.details %}
{% assign color = include.room | replace: ' ', '-' | replace: 'admin', 'keynote' | downcase %}
<div class="row schedule-row {{preso.track}}">
		<div class="col-xs-12 {{color}}">
				<a href="{{preso.url}}">{{preso.title | escape}}</a>
				<br/>
				<span class="small">
				{% for speaker in preso.persons %}
					 <a href="/speakers/{{speaker.id}}">{{ speaker.full_public_name }}</a>
				{% endfor %}
			 </span>
			<br/>
			<span class="small pull-right">
				 {{include.room}}
			</span>
	  </div>
</div>
