{% assign room-0 = include.events  | where: "room", "Java Platform" | first %}
{% assign room-1 = include.events  | where: "room", "Java Frameworks" | first %}
{% assign room-2 = include.events  | where: "room", "Cloud Technology" | first %}
{% assign room-3 = include.events  | where: "room", "Agile and Architecture" | first %}
{% assign room-4 = include.events  | where: "room", "Security and Practices" | first %}
{% assign room-5 = include.events  | where: "room", "Web and Security" | first %}



{% if room-0 %}
{% assign event = site.events | where: "slug", room-0.id | first %}
{% include schedule_event.html details=event room=include.room track=include.track %}
{% endif %}

{% if room-1 %}
{% assign event = site.events | where: "slug", room-1.id | first %}
{% include schedule_event.html details=event room=include.room track=include.track %}
{% endif %}

{% if room-2 %}
{% assign event = site.events | where: "slug", room-2.id | first %}
{% include schedule_event.html details=event room=include.room track=include.track %}
{% endif %}

{% if room-3 %}
{% assign event = site.events | where: "slug", room-3.id | first %}
{% include schedule_event.html details=event room=include.room track=include.track %}
{% endif %}

{% if room-4 %}
{% assign event = site.events | where: "slug", room-4.id | first %}
{% include schedule_event.html details=event room=include.room track=include.track %}
{% endif %}

{% if room-5 %}
{% assign event = site.events | where: "slug", room-5.id | first %}
{% include schedule_event.html details=event room=include.room track=include.track %}
{% endif %}
















