{% assign preso = include.details %}
{% assign location = site.data.tracks[include.track] %}
{% assign roomkey = preso.room] | strip %}
{% assign roomno = site.data.cfp_rooms_to_gwwc[roomkey] %}
{% if preso.categories.size > 0 %}
   {% assign track = preso.categories[0].categoryItems[0].name %}
   {% if track ==  "Keynote" %}
      {% assign color = "keynote" %}
   {% else %}	
      {% assign color = "track" %}  
	{% endif %}  
{% else %}
   {% assign track = "other" %}   
   {% assign color = "foyer" %}
{% endif %}
<div class="flex flex-col justify-between border-2 border-black p-4 pb-6 min-h-[120px] relative">
				<button onclick="toggleFavorite('{{preso.id}}')" class="absolute top-2 right-2 p-2 hover:scale-110 transition-transform" aria-label="Add to favorites">
					<svg id="fav-{{preso.id}}" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
					</svg>
				</button>
				<a href="/events/{{preso.title | slugify }}" class="text-black font-bold text-lg hover:text-gray-700 pr-10">{{preso.title | escape}}</a>
				<div class="font-bold text-lg text-gray-700">
				{% for speaker in preso.speakers %}
					 <a href="/speakers/{{speaker.name | slugify }}" class="text-gray-600 hover:text-black">{{ speaker.name }}</a>{% unless forloop.last %} & {% endunless %}
				{% endfor %}
				</div>
			<div class="float-right self-end text-sm text-gray-500">
				{{ preso.room }}
			</div>

</div>
