{% assign track_keys  = page.tracks | map: "key" | sort %}
{% assign alltracks = page.tracks | sort: "key" %}
{% assign times = page.timeslots | sort: "key" %}
{% assign timefilters = times | map: "key" %}
<script>

function applyFilter() {
  let filterDates = false;
  let filterTracks = false;
  let filterTimes = false;

  let dates = ['apr04', 'apr05','apr06']
  let dateFilters = []
  let times = {{ times | jsonify }};
  let timeslots = {{ timefilters | jsonify }};
  let timeFilters = []
  let tracks = {{ track_keys | jsonify }};
  tracks.push("other", "workshop"); //these don't show in list but are needed to filtergi
  let trackFilters = [];
  
  //Collect the checked filters
  $("input.form-check-input").each(function(t,e){
    if (e.id && e.checked) {
        if (dates.indexOf(e.id) >= 0) {
          dateFilters.push(e.id);
        } else if  (tracks.indexOf(e.id) >= 0) {
          trackFilters.push(e.id);
        } else if  (timeslots.indexOf(e.id) >= 0) {
          timeFilters.push(e.id);
        } 
    } 
  });
   
  if(timeFilters.length > 0 ) {
    times.forEach( t => {
      if(timeFilters.includes(t.key)) {
         t.slots.forEach(s => $('div.' + s).show());
      } else {
         t.slots.forEach(s => $('div.' + s).hide())
      }
    })
  } else {
    times.forEach(element => {
     element.slots.forEach(e => $('div.' + e).show());
    });
  }  

    
    //Apply filters
  tracks.forEach(element => {
      if (trackFilters.length > 0 ) {
          if (trackFilters.includes(element)) {
            $('div.' + element).show();
          } else {
            $('div.' + element).hide();
          }
      } else {
          $('div.' + element).show();
      }
  });
    
    
  dates.forEach(element => {
        if (dateFilters.length > 0 ) {
          if (dateFilters.includes(element)) {
            $('div.' + element).show();
          } else {
            $('div.' + element).hide();
          }
        } else {
          $('div.' + element).show();
        }
  });
    
}      
function resetFilters() {
  $("input.form-check-input").each(function(t,e){
    e.checked = false;
  });
  applyFilter();
}

</script>

{% assign day0 = site.data.schedule | where: "index", 0  | first %}
<div class="row schedule-container">
  <div class="col-sm-4 col-md-3 row schedule-filters">
    <a href="#schedule-filter" style="color: #eee" data-toggle="collapse">
      <div class="filter-by-header">
            <span>Filter By</span>
            <span class="glyphicon glyphicon-plus  pull-right btn-sm" aria-hidden="true"></span>
      </div>
    </a>
    <div id="schedule-filter" class="collapse in">
      <div class="row">
        <a href="#" onClick="resetFilters()">Clear Filters</a>
      </div>
      <a href="#date-filter" style="color: #eee" data-toggle="collapse">
        <div class="filter-by-section-header">
            <span>Date</span>
              <span class="glyphicon glyphicon-plus pull-right btn-sm" aria-hidden="true"></span> 
        </div>
      </a>
      <div id="date-filter" class="collapse in">
        <div >
          <input class="form-check-input " type="checkbox" id="apr04" value="apr04" onChange="applyFilter()">
            <label class="form-check-label" for="apr04">
              Apr 04 2022
            </label>
        </div>
        <div >
          <input class="form-check-input " type="checkbox" id="apr05" value="apr05" onChange="applyFilter()">
            <label class="form-check-label" for="apr05">
              Apr 05 2022
            </label>
        </div>
        <div >
          <input class="form-check-input " type="checkbox" id="apr06" value="apr06" onChange="applyFilter()">
            <label class="form-check-label" for="apr06">
              Apr 06 2022
            </label>
        </div>
      </div>
      <a href="#track-filter" style="color: #eee" data-toggle="collapse">
        <div class="filter-by-section-header">
            <span>Track</span>
            <span class="glyphicon glyphicon-plus pull-right btn-sm" aria-hidden="true"></span>
        </div>
      </a>
      <div id="track-filter" class="collapse in">
      {% for track in alltracks %}
      <div >
          <input class="form-check-input " type="checkbox" id="{{ track.key }}" value="{{ track.key }}" onChange="applyFilter()">
           <label class="form-check-label" for="{{ track.key}}">
             {{ track.name }}
           </label>
       </div>
       {% endfor %}
        <div >
            <input class="form-check-input " type="checkbox" id="other" value="other" onChange="applyFilter()">
            <label class="form-check-label" for="other">
              Food & Admin
            </label>
        </div>
      </div>
      

      <a href="#time-filter" style="color: #eee" data-toggle="collapse">
        <div class="filter-by-section-header">
            <span>Time</span>
            <span class="glyphicon glyphicon-plus pull-right btn-sm" aria-hidden="true"></span>
        </div>
      </a>
      <div id="time-filter" class="collapse in">
        {% for slot in times %}
        <div>
          <input class="form-check-input " type="checkbox" id="{{slot.key}}" value="{{slot.key}}" onChange="applyFilter()">
            <label class="form-check-label" for="{{slot.key}}">
               {{slot.name}}
            </label>
        </div>
        {% endfor %}
      </div><!--time filter collapse -->
      </div><!-- global filter collapse -->
  </div>
  
  <div class="row col-sm-8 col-md-9">
    <div class="row">
       <input class="form-control no-print" id="scheduleSearch" type="text" placeholder="Search..">
    </div>

