{% assign agile = include.events  | where: "track", "Agile" | first %}
{% assign architecture = include.events  | where: "track", "Architecture" | first %}
{% assign cloud-infra = include.events  | where: "track", "Cloud Infrastructure" | first %}
{% assign cloud-tech = include.events  | where: "track", "Cloud Technology" | first %}
{% assign core-java = include.events  | where: "track", "Core Java" | first %}
{% assign frameworks = include.events  | where: "track", "Frameworks" | first %}
{% assign java-platform = include.events  | where: "track", "Java Platform" | first %}
{% assign open-java = include.events  | where: "track", "Open Java" | first %}
{% assign javascript = include.events  | where: "track", "JavaScript" | first %}
{% assign jvmlang = include.events  | where: "track", "JVM Languages" | first %}
{% assign security  = include.events  | where: "track", "Security" | first %}
{% assign practices = include.events  | where: "track", "Practices and other tech" | first %}
{% assign tools-tech = include.events  | where: "track", "Tools and techniques" | first %}
{% assign web = include.events  | where: "track", "Web and Front-end" | first %}


{% if core-java %}
{% assign event = site.events | where: "slug", core-java.id | first %}
{% include schedule_event.html details=event room="core-java" track=include.track %}
{% endif %}

{% if java-platform %}
{% assign event = site.events | where: "slug", java-platform.id | first %}
{% include schedule_event.html details=event room="java-platform" track=include.track %}
{% endif %}

{% if open-java %}
{% assign event = site.events | where: "slug", java-platform.id | first %}
{% include schedule_event.html details=event room="open-java" track=include.track %}
{% endif %}

{% if javascript %}
{% assign event = site.events | where: "slug", javascript.id | first %}
{% include schedule_event.html details=event room="javascript" track=include.track %}
{% endif %}

{% if practices %}
{% assign event = site.events | where: "slug", practices.id | first %}
{% include schedule_event.html details=event room="practices-other" track=include.track %}
{% endif %}

{% if tools-tech %}
{% assign event = site.events | where: "slug", tools-tech.id | first %}
{% include schedule_event.html details=event room="tools" track=include.track %}
{% endif %}

{% if agile %}
{% assign event = site.events | where: "slug", agile.id | first %}
{% include schedule_event.html details=event room="agile" track=include.track %}
{% endif %}

{% if architecture %}
{% assign event = site.events | where: "slug", architecture.id | first %}
{% include schedule_event.html details=event room="archictecture" track=include.track %}
{% endif %}

{% if cloud-infra %}
{% assign event = site.events | where: "slug", cloud-infra.id | first %}
{% include schedule_event.html details=event room="cloud-infrastructure" track=include.track %}
{% endif %}

{% if cloud-tech %}
{% assign event = site.events | where: "slug", cloud-tech.id | first %}
{% include schedule_event.html details=event room="cloud-technology" track=include.track %}
{% endif %}

{% if frameworks %}
{% assign event = site.events | where: "slug", frameworks.id | first %}
{% include schedule_event.html details=event room="frameworks" track=include.track %}
{% endif %}

{% if security %}
{% assign event = site.events | where: "slug", security.id | first %}
{% include schedule_event.html details=event room="security" track=include.track %}
{% endif %}


{% if web %}
{% assign event = site.events | where: "slug", web.id | first %}
{% include schedule_event.html details=event room="web" track=include.track %}
{% endif %}

{% comment %}
{% if A316 %}
{% assign event = site.events | where: "slug", A316.id | first %}
{% include schedule_event.html details=event room="A316" track=include.track %}
{% endif %}

{% if A303 %}
{% assign event = site.events | where: "slug", A303.id | first %}
{% include schedule_event.html details=event room="A303" track=include.track %}
{% endif %}
{% endcomment %}
