{% assign preso = include.details %}
{% assign location = site.data.tracks[include.track] %}
{% if preso.categories.size > 0 %}
   {% assign track = preso.categories[0].categoryItems[0].name %}
   {% if track ==  "Keynote" %}
      {% assign color = "keynote" %}
   {% else %}	
      {% assign color = "track" %}  
	{% endif %}  
{% else %}   
   {% assign color = "foyer" %}
{% endif %}
<div class="row schedule-row {{preso.track}}">
		<div class="col-xs-12 {{color}}">
				<a href="{{preso.title | slugify }}">{{preso.title | escape}}</a>
				<br/>
				<span class="small">
				{% for speaker in preso.speakers %}
					 <a href="/speakers/{{speaker.name | slugify }}">{{ speaker.name }}</a>
				{% endfor %}
			 </span>
			<br/>
			<span class="small pull-right">
				{{ preso.room }}
			</span>
	  </div>
</div>
