{% assign preso = site.events | where: "slug", include.details.id | first %}
<div class="row schedule-row">
		<div class=" col-xs-12 workshop">
				<a href="{{preso.url}}">{{preso.title | escape}}</a>

				<br/>
				<span class="small">
				{% for speaker in preso.persons %}
					 <a href="/speakers/{{speaker.id}}">{{ speaker.full_public_name }}</a>
				{% endfor %}
			 </span>
			 <span class="small pull-right">
 				{{ include.details.duration | remove: "0"| remove: ":" }} hours
 			</span>
	  </div>
</div>
