<!-- Column 2: Social Highlights -->
<div class="bg-white p-8 rounded-xl shadow-lg">
    <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">Social Highlights</h2>
    <div class="space-y-6">
        {% assign posts = site.posts | slice: 0, 3 %}
        {% for post in posts %}

                {{post}}
        {% endfor %}
    </div>
    <div class="text-center mt-8">
        <a href="https://bsky.app/profile/devnexus.bsky.social" target="_blank" rel="noopener noreferrer"
            class="inline-block bg-blue-50 hover:bg-blue-100 text-blue-700 font-bold py-2 px-6 rounded-full transition duration-300">
            See More
        </a>
    </div>
</div>
