@import "bootstrap/mixins/_buttons";
.cfp-tracks{
  @extend table;

  .title {
    min-width: 30%;
  }
  .details {
    width: 70%;
  }
}
.cfp {
  .action {
     @include button-variant(#cece19, #000000, #2dbe27);
     padding: .5em;
     width: auto;
   }
}
