body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #282828;
    font-size: 16px;
}
.btn {
    font-weight: 700;
    border-radius: 100px;
    background-color: #f6921e;
    color: #fff;
}
.btn-default {
    font-size: 20px;
}
.cfp {
  background-color: #6c9c31;
  color: #ffffff;
  h4 {
    margin-left: 40px;
  }
  a.btn {
    border-radius: 0;
    font-size: 24px;
    width: auto;
    text-transform: uppercase;
    background-color: #6fa133;
    color: white;
    margin-top: 20px;
  }
}

.hero {
    color: #fff;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.6)),
        url('/assets/img/hero.jpg');
    background-size: 100% 100%, cover;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 100px 10px;
    border-bottom: 1px solid #fff;
   div{
    margin: 0 auto;
   }
   ul{
    margin-bottom: 50px;
   }
   h1 {
       max-width: 965px;
       height: auto;
    img{
       width: 100%;
    }
  }
  @media (min-width: $screen-md) {
     h2{
       font-size: 48px;
        font-weight: 700;
        margin: 40px 0 50px 0;
      }
  }
  @media(max-width: $screen-sm) {
      h2{
          font-size: 38px;
          font-weight: 700;
          margin: 60px 0 80px 0;
      }
  }
  h2 span{
      color:#6fa133;
  }
}
.hero-social li{
    margin: 0 15px;
}
.hero-date-location {
  li{
    margin: 0 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fafafa;
  }
 img{
    margin-right: 30px;
 }
}
.hero-btn-register:link,.hero-btn-register:visited {
    color: white;
}
@media(min-width: $screen-md) {

    .hero-btn-register {
        height:65px;
        width:360px;
        line-height: 65px;
        padding: 0;
    }
}
@media(max-width: $screen-md) {

    .hero-btn-register {
        height:65px;
        width:100%;
        margin: 0 -15px;
        border-radius: 0;
        line-height: 65px;
        padding: 0;
    }

}
/* footer */
footer.site-footer {
	background: #333333;
	padding-top: 70px;
	color:#ffffff;
}
ul.footer-social .fa {
	color: #898989;
}
.footer-social a {
		color: #898989;
}
.footer-title {
	color:#898989;
	font-size: 16px;
	font-weight: normal;
	margin-bottom:21px;
}
#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #384452;
  p {
	  color: #bfc9d3;
  }
  h4 {
	  color: white;
  }
  i {
	  font-size: 30px;
	  color: #bfc9d3;
	  padding-right: 25px;
  }
  i:hover {
	  color: #00b3fe;
  }
}
.footer-wrapper a, .footer-wrapper a:visited, span.gc-cs-link {
	text-decoration: none;
}
.footer-wrapper a:active, .footer-wrapper a:hover {
	color: #ddd;
}
.footer-widget {
	color: #ddd;
}
.footer-wrapper i.fa {
	width: 14px;
	text-align: center;
	margin-right: 10px;
}
.footer {
    background-color: #282828;
    border: solid 1px #979797;
    ul {
      margin: 50px
    }
   .text {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.43;
      letter-spacing: 3px;
      text-align: center;
      color: #666666;
      text-transform: uppercase;
  }
}
.legal {
	padding-top: 15px;
	text-align: center;
	color: #898989;
   span {
	   color: #888888;
   }
}
h4.footer-title {
	color:#3e434a;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom:20px;
}
