//$room-color-auditorim: #edce1e; //yellow
$room-color-auditorim: #f6921e;
$room-color-workshop: #6c7070;
$room-color-core-java:  #8bbc0f;
$room-color-java-platform:  #f6921e; //#406F34;
$room-color-architecture: #a84617;
$room-color-tools: #FA7713;
$room-color-frameworks: #5b903f;
$room-color-security: #2a2d7c;
$room-color-ggm: #0d86e2;
$room-color-javascript:  #127e9c;
$room-color-practices-other: #4331e2;
$room-color-cloud-technology: #8b2246;
$room-color-cloud-infrastructure: #6328E7;
$room-color-serverless: #8ec741;
$room-color-agile: #C30772;
$room-color-unobtanium: #1668ba;
$room-color-web: #015351;
$room-color-exhibit: #ed1e24;

@mixin caption {
  position: initial;
  height: 80px;
  padding: 5px 15px 5px 15px;
}

@mixin room ($color) {
  background-color: fade-out($color, .90);
  border-left: 10px solid $color;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.schedule-row {
  align-content: center;
  .keynote {
    @include room($room-color-auditorim);
  }
  .workshop {
    @include room($room-color-workshop);
  }
  .core-java {
    @include room($room-color-core-java);
  }
  .java-platform {
    @include room($room-color-java-platform);
  }
  .archictecture {
    @include room($room-color-architecture);
  }
  .tools {
    @include room($room-color-tools);
  }
  .frameworks {
    @include room($room-color-frameworks);
  }
  .security {
    @include room($room-color-security);
  }
  .ggm {
    @include room($room-color-ggm);
  }
  .javascript {
    @include room($room-color-javascript);
  }
  .practices-other {
    @include room($room-color-practices-other);
  }
  .cloud-technology {
    @include room($room-color-cloud-technology);
  }
  .cloud-infrastructure{
    @include room($room-color-cloud-infrastructure);
  }
  .agile {
    @include room($room-color-agile);
  }
  .web {
    @include room ($room-color-web);
  }
  .lunch {
    @include room($room-color-exhibit);
  }
  .break {
    @include room($room-color-exhibit);
  }
  .breakfast {
    @include room($room-color-exhibit);
  }
  .happy-hour {
    @include room($room-color-exhibit);
  }
  .unobtanium {
    @include room($room-color-unobtanium);
  }

}
.track-thumbnail {
    a {
      color: white;
    }
    h3 {
      font-size: 18px
    }
    div.frame{
      border: 1px gray solid;
      box-shadow: 1px 1px 5px black;
      border-radius: 0;
      //height: 285px;
      overflow:
      hidden
    }
    .keynote {
      @include caption;
      background-color: $room-color-auditorim;
    }
    .workshop {
      @include caption;
      background-color: $room-color-workshop;
    }
    .core-java {
      @include caption;
      background-color: $room-color-core-java;
    }
    .java-platform {
      @include caption;
      background-color: $room-color-java-platform;
    }
    .archictecture {
      @include caption;
      background-color: $room-color-architecture;
    }
    .tools {
      @include caption;
      background-color: $room-color-tools;
    }
    .frameworks {
      @include caption;
      background-color: $room-color-frameworks;
    }
    .security {
      @include caption;
      background-color: $room-color-security;
    }
    .ggm {
      @include caption;
      background-color: $room-color-ggm;
    }
    .javascript {
      @include caption;
      background-color: $room-color-javascript;
    }
    .practices-other{
      @include caption;
      background-color: $room-color-practices-other;
    }
    .cloud-technology{
      @include caption;
      background-color: $room-color-cloud-technology;
    }
    .cloud-infrastructure{
      @include caption;
      background-color: $room-color-cloud-infrastructure;
    }
    .agile {
      @include caption;
      background-color: $room-color-agile;
    }
    .web {
      @include caption;
      background-color: $room-color-web;
    }
    .unobtanium {
      @include caption;
      background-color: $room-color-unobtanium;
    }
}
