.marketing-panel {
  background-color: #91b565;
  color: #fff;
}

@media(max-width: $screen-md) {
  .marketing-panel {
    font-size: 15px;
    letter-spacing: 1.6px;
  }
  .what-is {
    display: flex;
    align-items: center;
    height: 350px;
    div{
      padding:10px 15px;
    }
    h1{
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    ul {
      font-weight: 700;
      margin-bottom: 40px;
    }
    p {
      font-size: 20px;
    }
    ul li{
      display: inline;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

@media(min-width: $screen-md) {
  .marketing-panel {
    font-size: 28px;
    letter-spacing: 1.6px;
  }
  .what-is{
    display: flex;
    align-items: center;
    height: 700px;
    div{
      padding:0 60px;
    }
    h1 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    ul{
      font-weight: 700;
      margin-bottom: 40px;
    }
  }

}

@media(min-width: $screen-md) {

  .preview {
    overflow: hidden;
    height: 700px;
    padding: 0;
    background-image: url(/assets/img/video_thumb.jpg) ;
    background-size: cover
  }

  .play-button {
    margin-top: 283px;
  }

  .copy {
    font-size: 24px;
    text-align: center;
    margin: 80px 180px;
  }
}

@media(max-width: $screen-md) {

  .preview {
    overflow: hidden;
    height: 350px;
    padding: 0;
    background-image: url(/assets/img/video_thumb.jpg) ;
    background-size: cover
  }


  .play-button {
    margin-top: 140px;
  }
  .copy {
    font-size: 24px;
    text-align: center;
    margin: 80px 15px;
  }
}
