#timeline {
   position: relative;
   max-width: 1200px;
   margin: 0 auto;
   background-color: black;
   &:after {
     content: '';
     position: absolute;
     width: 6px;
     background-color: white;
     top: 0;
     bottom: 0;
     left: 50%;
     margin-left: -3px;
   }
 div.tlevent {
   padding: 10px 40px;
   position: relative;
   background-color: inherit;
   width: 50%;
   &:after {
     content: '';
     position: absolute;
     width: 25px;
     height: 25px;
     right: -17px;
     background-color: white;
     border: 4px solid #FF9F55;
     top: 15px;
     border-radius: 50%;
     z-index: 1;
   }
 }

 div.tlleft {
   left: 0;
   &:before {
     content: " ";
     height: 0;
     position: absolute;
     top: 22px;
     width: 0;
     z-index: 1;
     right: 30px;
     border: medium solid white;
     border-width: 10px 0 10px 10px;
     border-color: transparent transparent transparent white;
   }
 }
 div.tlright {
   left: 50%;
   &:before {
     content: " ";
     height: 0;
     position: absolute;
     top: 22px;
     width: 0;
     z-index: 1;
     left: 30px;
     border: medium solid white;
     border-width: 10px 10px 10px 0;
     border-color: transparent white transparent transparent;
    }
    ::after {
      left: -16px;	    
    }
  }   
  div.tldetail{
     padding: 20px 30px;
     background-color: white;
     position: relative;
     border-radius: 6px;
  }
 
}
