---
# This file will be converted to __site/assets/css/styles.css
---
@tailwind base;
@tailwind components;
@tailwind utilities;

.speaker-logos-scroll {
    width: 100%;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    gap: 3.5rem;
    width: max-content;
    padding-left: 2rem;
    padding-right: 2rem;
    animation: scroll 60s linear infinite alternate;
    background-color: white;
}

.company-logo {
    height: auto;
    width: 100px;
    object-fit: cover;
    flex-shrink: 0;
    filter: grayscale(100%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 100vw));
    }
}


.fav-icon.active {
    @apply text-black;
}

.fav-icon:hover {
    @apply text-gray-400;
}

#favorites-filter-btn.active {
    @apply bg-black text-white;
}

#favorites-filter-btn:hover {
    @apply bg-gray-500 text-white;
}

#favorites-filter-btn {
    @apply bg-white text-black;
}
