/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.navbar {
	line-height: 50px;
}

.navbar-brand {
	float: none;
}

.navbar-brand img {
	display: inherit;
}

.navbar-inverse {
	background-color: #0C1620;
	border-color: #0C1620;
}

ul.double {
	margin: 0 auto 20px;
	overflow: hidden;
}
ul.double li { width: 50%; float: left;}

div#devnex.jumbotron {background-color: #0C1620; color: #fff; text-align: center;}
div#yellow.jumbotron {background: #f7cb59; font-size: 16px;}
	div#yellow.jumbotron h1 {color: #fff;font-size: 50px;font-weight: bold;}
	div#yellow.jumbotron h2 {font-size: 22px;font-weight: bold;}
	div#yellow.jumbotron a.btn {margin: 25px auto 15px;}

div.red.jumbotron {background: #630d1a; font-size: 16px; color:#fff; text-align: center}
    div.red.jumbotron h1 {color: #fff;font-size: 50px;font-weight: bold;}
    div.red.jumbotron h2 {font-size: 22px;font-weight: bold;}
    div.red.jumbotron a.btn {margin: 25px auto 15px;}

.jumbotron.call {background: transparent url('../images/call_bg.jpg') no-repeat top left; background-size:cover;}
	.jumbotron.call #banner h1 {color: #000;text-align: center;}
	.jumbotron.call #banner h3 {color: #455159; line-height: 180%; text-align: center; margin: 20px auto;}
		.jumbotron.call #banner ul.double {width: 580px; list-style: disc inside none}
		.jumbotron.call #banner ul.double li  {font-size: 12pt; color: #455159; padding-left: 15px; }

.jumbotron.eval {background: transparent url('../images/evals_bg.jpg') no-repeat top left; background-size:cover; height: 300px;}
		.jumbotron.eval #banner h1 {text-align: center; padding: 40px 0; color: #fff;}

.navbar-nav li{font-size: 16px;}

#map.container {text-align: center;}

.contents-container {
	padding-top: 45px;
	padding-bottom: 45px;
}

.contents-container img {
	margin: 20px auto; text-align: center;
}

#banner {margin: 20px auto;}
		#banner h1 {font-size: 45px;margin:0;padding:0}
		#banner h1#gray {color: #617784;  font-weight: bold;}
		#banner h1#white {color: #fff;}
		#banner h3 {color: #fff;font-size: 22px; padding: 0 20%;}

	#h4wrap {
		background: transparent url('../images/h2-bg.jpg') repeat-x center center;
		height: 13px;
		margin-bottom: 30px;
		}
	#h4wrap h4 {	text-transform: uppercase;text-align: center; font-weight:bold; font-size: 15px;height: 12px;	}

#schedule #one-fourth.track-1 {background-color:#630d1a}
#schedule #one-fourth.track-102 {background-color:#44b75c}
#schedule #one-fourth.track-2 {background-color:#fd8c2a}
#schedule #one-fourth.track-3 {background-color:#7bb7cd}
#schedule #one-fourth.track-4 {background-color:#dbaa2e}
#schedule #one-fourth.track-5 {background-color:#297ca5}
#schedule #one-fourth.track-6 {background-color:#d14928}
#schedule #one-fourth.track-7 {background-color:#455159}

	h1.defaultTrackStyle {color:#0C1620; text-align: center;}
	h1.track-1 {color:#630d1a; text-align: center;}
	h1.track-102 {color:#44b75c; text-align: center;}
	h1.track-2  {color:#fd8c2a; text-align: center;}
	h1.track-3  {color:#7bb7cd; text-align: center;}
	h1.track-4  {color:#dbaa2e; text-align: center;}
	h1.track-5  {color:#297ca5; text-align: center;}
	h1.track-6  {color:#d14928; text-align: center;}
	h1.track-7  {color:#455159; text-align: center;}

	h1.track-8  {color:#A2285E; text-align: center;}
	h1.track-9  {color:#FF5D40; text-align: center;}
	h1.track-10 {color:#6A237E; text-align: center;}
	h1.track-11 {color:#589800; text-align: center;}
	h1.center {text-align: center; font-size: 50px; font-weight: bold;}

#speakers {margin-bottom: 20px; clear: both;}
#speakers .row  {margin: 12px;}
	#speakers .row div {padding-left:0; color: #fff;}
	#speakers .row div p, #speakers .row div h4{margin-bottom:0;}
	#speakers .row#dataint{background-color: #44b75c;}
	#speakers .row#web {background-color:#630d1a}
	#speakers .row#javaeespr {background-color:#fd8c2a}
	#speakers .row#altlang {background-color:#7bb7cd}
	#speakers .row#htmljs {background-color:#dbaa2e}
	#speakers .row#cloud {background-color:#297ca5}
	#speakers .row#agiletools {background-color:#d14928}
	#speakers .row#mobile {background-color:#455159}

#speakers img {
	-webkit-border-radius: 0px 0px 10px 0px;
	-moz-border-radius: 0px 0px 10px 0px;
	border-radius: 0px 0px 10px 0px;
}

#sessions {margin-bottom: 40px;}
#sessions .row .col-md-2 .col-md-12 {background: #e5e5e5; padding: 3px; text-align: center;height: 105px;}
#sessions .row {margin: 0 1px;}
#sessions h3#green {color: #519d55;}

#schedule {margin-bottom: 30px;}
#schedule #one-fourth {width: 100%; margin-bottom: 24px;padding:5px 15px;text-align: left; color: #fff;}
	#schedule #one-fourth h3, #schedule #one-fourth p {color: #fff; margin: 15px 0;}
	#schedule #one-fourth h3 {font-size: 18px;}
	#schedule .row #one-fourth p a {color: white; text-decoration: underline}
	#schedule #one-fourth.track-1 {background-color:#630d1a}
	#schedule #one-fourth.track-102 {background-color:#44b75c}
	#schedule #one-fourth.track-2 {background-color:#fd8c2a}
	#schedule #one-fourth.track-3 {background-color:#7bb7cd}
	#schedule #one-fourth.track-4 {background-color:#dbaa2e}
	#schedule #one-fourth.track-5 {background-color:#297ca5}
	#schedule #one-fourth.track-6 {background-color:#d14928}
	#schedule #one-fourth.track-7 {background-color:#455159}
    #schedule #one-fourth.track-8 {background-color:#A2285E}
    #schedule #one-fourth.track-9 {background-color:#FF5D40}
    #schedule #one-fourth.track-10 {background-color:#6A237E}
    #schedule #one-fourth.track-11 {background-color:#589800}

.presentation .wrapper { }

.presentation h3, #container #presentation p {color: #fff; margin: 15px 0;}
.presentation h3 {font-size: 18px;}
.presentation .row a {color: white; text-decoration: underline}
.presentation .defaultTrackStyle {background-color:#0C1620}
.presentation .track-1 {background-color:#630d1a}
.presentation .track-102 {background-color:#44b75c}
.presentation .track-2 {background-color:#fd8c2a}
.presentation .track-3 {background-color:#7bb7cd}
.presentation .track-4 {background-color:#dbaa2e}
.presentation .track-5 {background-color:#297ca5}
.presentation .track-6 {background-color:#d14928}
.presentation .track-7 {background-color:#455159}
.presentation .track-8 {background-color:#A2285E}
.presentation .track-9 {background-color:#FF5D40}
.presentation .track-10 {background-color:#6A237E}
.presentation .track-11 {background-color:#589800}

#speaker2 {}
	#speaker2 p{color: #fd8c2a; font-weight: bold; text-align: center;}

#bio { border-top: 5px solid #e5e5e5; padding-top: 30px; margin-top: 30px; margin-bottom: 30px; }
	#bio h3 {font-size: 28px; color: #455159}
	#bio .col-md-4 {border-right: 1px solid #ccc; }
	#bio #one-third {width: 100%; height: auto;  text-align: center;padding: 30px 30px;}
	#bio #one-third #social {clear: both; height: 50px;}
	#bio #one-third #social  ul {margin: 15px auto;display: block; text-align:center; clear: both;}
    #bio #one-third #social  ul li {display: inline-block;margin: 0 7px 0 0;}
	#bio #one-third #social  ul li a{display:block;text-indent: -9999px;overflow: hidden; height:33px;}
	#bio #one-third #social ul li#twitter a{background:transparent url('../images/twitter.jpg')no-repeat center center; height: 32px; width: 32px;}
	#bio #one-third #social ul li#linkedin a{background:transparent url('../images/linkedin.jpg')no-repeat center center; height: 32px; width: 32px;}
	#bio #one-third #social ul li#lanyrd a{background:transparent url('../images/lanyrd.png')no-repeat center center; height: 32px; width: 32px;}
	#bio #one-third #social ul li#google a{background:transparent url('../images/google.jpg')no-repeat center center; height: 32px; width: 32px;}
	#bio #one-third #social ul li#rss a{background:transparent url('../images/rss.jpg')no-repeat center center; height: 32px; width: 32px;}
	#bio #one-third p {color: #455159}

.subsuccess {padding: 50px 15%; text-align: center; color: #455159; min-height: 700px }
		.subsuccess h3.green {color: #44b75c}
		.subsuccess p {margin: 25px 0;}

.container.eval {padding: 50px 15%; text-align: center; color: #455159; min-height: 700px}
			.container.eval form {width: 70%; margin: 60px auto;}
			.container.eval form .form-group {margin-bottom: 50px;}
			.container.eval form h3 {font-weight: normal; margin-bottom: 15px;}
				label.radio-inline2 {margin-right: 10px;font-weight: normal}
				label.radio-inline3 {margin-left: 0px; font-weight: normal}

#footer	{padding: 20px 0 30px}
	#footer.footer-inverse {	background-color: #0C1620;border-color: #080808}
	#footer h3 {color: #fff; margin: 10px 0; font-size: 17px}
	#footer ul{margin: 0 0 25px 0; padding:0; list-style: none;}
	#footer li, #footer li a {color: #617784; text-decoration: none; margin-bottom: 6px;}
	#footer img {text-align: center;}
	#footer p#copy {margin-top: 50px; color: #617784; text-align:center;}

#raty {
	margin-left: auto;
	margin-right: auto;
}

#recaptcha_area {
	margin-left: 0;
	margin-right: auto;
}

@media (max-width: 990px) {
	.navbar-brand {
		padding: 0;
	}
}
