ul#speakers {
    margin-top: 20px;
}
ul#speakers li {
    float: left; margin: 5px 20px; min-width: 20%; text-align: center;
}

ul#speakers li a {
    color: rgb(253, 140, 42);font-weight: bold;
    font-size: 14px;
    line-height: 130%;

}

div#wrapper div#bio {
    border-top: 5px solid rgb(229, 229, 229);
    padding-top: 30px;
    margin-top: 30px;
}

#wrapper #speakers .one-third {height: 100px; color: #fff; width: 30%; margin: 10px; float: left;}
#wrapper {
    width: 1050px;
    margin: 25px auto;
    text-align: center;
}
/*    Speakers Page      */
#wrapper #bio { border-top: 5px solid #e5e5e5; padding-top: 30px; margin-top: 30px; }
#wrapper #bio h3 {font-size: 28px; color: #455159}
#wrapper #bio .one-third {width: 31%; padding: 10px 30px; float: left; border-right: 1px solid #ccc;}
#wrapper #bio .one-third .social {clear: both; height: 50px;}
#wrapper  #bio .one-third .social  ul {margin: 15px auto;display: block; text-align:center; clear: both;}
#wrapper  #bio .one-third .social  ul li {display: inline-block;margin: 0 7px 0 0;}
#wrapper  #bio .one-third .social  ul li a{display:block;text-indent: -9999px;overflow: hidden; height:33px;}
#wrapper #bio .one-third .social ul li.twitter a{background:transparent url('../images/twitter.jpg')no-repeat center center; height: 32px; width: 32px;}
#wrapper #bio .one-third .social ul li.linkedin a{background:transparent url('../images/linkedin.jpg')no-repeat center center; height: 32px; width: 32px;}
#wrapper #bio .one-third .social ul li.google a{background:transparent url('../images/google.jpg')no-repeat center center; height: 32px; width: 32px;}
#wrapper #bio .one-third .social ul li.rss a{background:transparent url('../images/rss.jpg')no-repeat center center; height: 32px; width: 32px;}
#wrapper #bio .one-third p {color: #455159}

