<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <!--
    Enable development specific filters such as WRO
    -->
    
    <beans profile="development-enabled">
        <bean id="wroFilter" class="ro.isdc.wro.http.ConfigurableWroFilter">
            <property name="properties" ref="wroProperties"/>
        </bean>

        <bean id="wroProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
            <property name="location" value="classpath:META-INF/resources/WEB-INF/wro.properties" />  
        </bean>  
    </beans>

</beans>
