<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

	<beans profile="mail-enabled">
		<int:transformer id="prepareMailToSpeaker"
								input-channel="mailChannel"
								output-channel="sendMailChannel"
								ref="prepareMailToSpeakerTransformer">
		</int:transformer>

		<int:transformer id="prepareAcceptedSessionMailToSpeaker"
								input-channel="acceptedSessionMailChannel"
								output-channel="sendMailChannel"
								ref="prepareAcceptedSessionMailToSpeakerTransformer">
		</int:transformer>

		<int:transformer id="prepareMailToRegister"
								input-channel="registrationMailChannel"
								output-channel="sendMailChannel"
								ref="prepareMailToRegisterTransformer">
		</int:transformer>
	</beans>

	<beans profile="smtp-enabled">
		<int:chain input-channel="sendMailChannel">
			<int:transformer id="genericEmailToMimeMessage" ref="genericEmailToMimeMessageTransformer"/>
			<int-mail:outbound-channel-adapter id="mailAdapter" mail-sender="mailSender"/>
		</int:chain>
	</beans>

	<beans profile="sendgrid-enabled">
		<int:service-activator input-channel="sendMailChannel" ref="sendUsingSendgrid"/>
	</beans>

	<beans profile="amazon-ses-enabled">
		<int:service-activator input-channel="sendMailChannel" ref="sendUsingAmazonSes"/>
	</beans>

	<beans profile="demo">
		<int:logging-channel-adapter channel="registrationMailChannel"/>
		<int:logging-channel-adapter channel="mailChannel"/>
	</beans>
</beans>
