<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-twitter="http://www.springframework.org/schema/integration/twitter"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/integration/twitter http://www.springframework.org/schema/integration/twitter/spring-integration-twitter.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<int:channel id="mailChannel">
		<int:queue/>
	</int:channel>

	<beans profile="mail-enabled">
		<bean id="mailPort" class="java.lang.Integer">
			<constructor-arg value="${mail.smtp.port}"/>
		</bean>
		<bean id="cfpToMailTransformer" class="com.devnexus.ting.core.service.impl.CfpToMailTransformer">
			<property name="mailSender" ref="mailSender"/>
			<property name="fromUser" value="${mail.user.from}"/>
			<property name="ccUser" value="${mail.user.cc}"/>
		</bean>

		<int:transformer id="prepareMailToSpeaker"
			input-channel="mailChannel"
			output-channel="sendMailChannel"
			ref="cfpToMailTransformer" method="prepareMailToSpeaker">
			<int:poller fixed-rate="1000" error-channel="errorChannel"/>
		</int:transformer>

		<int:channel id="sendMailChannel" />

		<bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="mailSender">
			<property name="host" value="${mail.smtp.host}"/>
			<property name="port" value="${mail.smtp.port}"/>
<!-- 			<property name="username" value="${mail.user.id}"/>
			<property name="password" value="${mail.user.password}"/> -->
			<property name="javaMailProperties">
				<props>
					<prop key="mail.debug">${mail.debugEnabled}</prop>
					<prop key="mail.smtp.auth">${mail.authenticationEnabled}</prop>
					<!-- <prop key="mail.smtp.starttls.enable">true</prop> -->
				</props>
			</property>
		</bean>

		<int-mail:outbound-channel-adapter id="mailAdapter" channel="sendMailChannel"
			mail-sender="mailSender"/>

		<int:channel id="errorChannel"/>
		<int:logging-channel-adapter id="loggit" log-full-message="true" level="ERROR" channel="errorChannel"/>
	</beans>

	<beans profile="default">
		<int:logging-channel-adapter log-full-message="true" channel="mailChannel">
			<int:poller fixed-rate="1000" error-channel="errorChannel"/>
		</int:logging-channel-adapter>
	</beans>

</beans>
