<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

	<beans profile="mail-enabled">

		<int:transformer id="prepareMailToSpeaker"
								input-channel="mailChannel"
								output-channel="sendMailChannel"
								ref="prepareMailToSpeakerTransformer">
			<int:poller fixed-rate="1000" error-channel="errorChannel"/>
		</int:transformer>

		<int:transformer id="prepareMailToRegister"
								input-channel="registrationMailChannel"
								output-channel="sendMailChannel"
								ref="prepareMailToRegisterTransformer">
			<int:poller fixed-rate="1000" error-channel="errorChannel"/>
		</int:transformer>

		<int-mail:outbound-channel-adapter id="mailAdapter" channel="sendMailChannel"
				mail-sender="mailSender"/>

	</beans>

	<beans profile="!mail-enabled">
		<int:logging-channel-adapter channel="registrationMailChannel"/>
		<int:logging-channel-adapter channel="mailChannel"/>
	</beans>
</beans>
