<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc     http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/oxm     http://www.springframework.org/schema/oxm/spring-oxm.xsd">

	<!-- HANDLERS -->
	<context:component-scan base-package="com.devnexus.ting.web" />

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.devnexus.ting.web.converter.StringToEvent" />
				<bean class="com.devnexus.ting.web.converter.StringToRoom" />
				<bean class="com.devnexus.ting.web.converter.StringToSpeaker" />
				<bean class="com.devnexus.ting.web.converter.StringToSkillLevel" />
				<bean class="com.devnexus.ting.web.converter.StringToPresentationType" />
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="webBindingInitializer">
			<bean
				class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
				<property name="conversionService" ref="conversionService" />
				<property name="validator" ref="validator" />
			</bean>
		</property>
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
				<ref bean="marshallingConverter" />
				<ref bean="atomConverter" />
			</list>
		</property>
	</bean>

	<bean id="jt" class="org.springframework.http.MediaType">
		<constructor-arg value="application"/>
		<constructor-arg value="json"/>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="1" />
		<property name="contentNegotiationManager">
			<bean class="org.springframework.web.accept.ContentNegotiationManager">
				<constructor-arg>
					<bean
						class="org.springframework.web.accept.PathExtensionContentNegotiationStrategy">
						<constructor-arg>
							<map>
								<entry key="json" value="application/json" />
								<entry key="xml" value="application/xml" />
							</map>
						</constructor-arg>
					</bean>
				</constructor-arg>
			</bean>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller" ref="jaxbMarshaller" />
				</bean>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="objectMapper" ref="jaxbJacksonObjectMapper" />
				</bean>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="2" />
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="3" />
	</bean>

	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="error/error" />
	</bean>

	<!-- -->

	<bean id="viewNameTranslator"
		class="org.springframework.web.servlet.view.DefaultRequestToViewNameTranslator" />

	<!-- Configures Handler Interceptors -->
	<mvc:interceptors>
		<!-- Changes the locale when a 'locale' request parameter is sent; e.g.
			/?locale=de -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />

	</mvc:interceptors>

	<!-- Saves a locale change using a cookie -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />

	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/jsp
		directory -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="order" value="2" />
	</bean>

	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="jaxbJacksonObjectMapper" />
		<property name="supportedMediaTypes" value="application/json" />
	</bean>

	<bean id="marshallingConverter"
		class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		<constructor-arg ref="jaxbMarshaller" />
		<property name="supportedMediaTypes" value="application/xml" />
	</bean>

	<bean id="atomConverter"
		class="org.springframework.http.converter.feed.AtomFeedHttpMessageConverter">
		<property name="supportedMediaTypes" value="application/atom+xml" />
	</bean>

	<bean id="jaxbJacksonObjectMapper" class="com.devnexus.ting.web.JaxbJacksonObjectMapper" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize">
			<value>8194304</value>
		</property>
	</bean>

	<mvc:view-controller path="/admin" view-name="redirect:/s/admin/index" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.devnexus.ting.web.interceptor.GlobalDataInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

<context:property-placeholder />
	<beans profile="twitter-enabled">
		<import resource="classpath:spring/spring-integration-twitter-context.xml" />
	</beans>
</beans>
