.schedule {

}

.schedule p {
	margin-bottom: 0;
}

.schedule td {
    vertical-align: middle;
    padding: 5px;
}

.schedule td p {
    margin: 2px;
}

.schedule .day {
    padding: 5px;
    text-align: center;
}

.schedule .break {

}

.schedule .registration {

}

.schedule .keynote {

}

.schedule .time {

}

.schedule .talk {
	background-color: #fefdfb;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.schedule .talk .topic {
    font-weight: bold;
}


.schedule .breakouts {
   /* background-color: #6D9D31;*/
background: rgb(0,142,176); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,142,176,1) 0%, rgba(87,159,175,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,142,176,1)), color-stop(100%,rgba(87,159,175,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,142,176,1) 0%,rgba(87,159,175,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,142,176,1) 0%,rgba(87,159,175,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,142,176,1) 0%,rgba(87,159,175,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,142,176,1) 0%,rgba(87,159,175,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008eb0', endColorstr='#579faf',GradientType=0 ); /* IE6-9 */

}

.schedule .speaker {
    font-weight: normal;
}
.schedule .topic {
    font-weight: bold;
}

.schedule .track-1 { /* A */
    background-color: #8E294A;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-2 { /* B */
    background-color: #5A8E22;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-3 { /* CDF */
    background-color: #FFA200;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-4 { /* E */
    background-color: #008F9C;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-5 { /* 103 */
    background-color: #0072BC;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-6 { /* 104 */
    background-color: #2A3795;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-7 { /* 105 */
    background-color: #622BA0;
    text-shadow: 1px 1px 2px #EEEEEE;
}
.schedule .track-102 { /* 102 */
    background-color: #8DC740;
    text-shadow: 1px 1px 2px #EEEEEE;
}
