.first {
    margin-right: 100px;
}

body {
    font: 80%/1.5 verdana, sans-serif;
    color: #333;
    background: #000000;
    margin: 2em 0;
    padding: 0;
}

#b2 {
    width: 950px;
    background: #eee url(../images/corners/tr.png) top right no-repeat;
    background-color: #ffffff;
    border-width: 0;
    margin: 0 auto;
    padding: 0;

}
#footer {
    background: url(../images/corners/br.png) bottom right no-repeat;
    border: 0;
    margin: 0;
    margin-top: 5em;
    padding:0 0 10px 0;
    text-align: right;

}
#b4 {
    background: url(../images/corners/bl.png) bottom left no-repeat;
    margin: 0 auto;
    padding: 0;
}
#b3 {
    background: url(../images/corners/tl.png) 0 0 no-repeat;
    margin: 0 auto;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0;
    border: 0;
}

fieldset div span {
    width: 25em;
    overflow: hidden;
}

#content {
    margin: 0px 1em 0px 1em;
    padding: 0;
}
#signup {
    margin: 1em;
}

#header p {
    margin: 0em;
}

img {
    border: 0;
}
#h4 p {
    text-align: center;
}
#h4 p img {
    margin-top: 20px;
}
a {
    color: #06c;
}
a:hover {
    text-decoration: none;
}

h1 {
    margin: 0 10px 0 10px;
}

h2, h3 {
    font: 3em arial, helvetica, sans-serif;
    margin: 0;
}
h2 {
    font-size: 2em;
    margin-top: 1em;
}
h3 {
    font-size: 1.3em;
    margin-top: 1em;
}



div.speaker h3 {
    border-bottom: 1px solid orange;
 }
div.speaker img {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
}

div.speaker p.presentation-header {
     color: #555555;
     font-weight: bold;
}
 .presentation h3.title   {
    border-bottom: 1px solid orange;
}

p {
    padding: 0;
}
#signup h2 a {
    margin: 0;
}
#signup h2 a:hover {
}
#tagline {
    font-weight: bold;
    font-size: 1.2em;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
    width: 12em;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}
td, th {
    padding: 1em;
    border: 1px solid #eee;
}
th {
    text-align: left;
    background: #eee;
}


#youare {
    background: #ffc;
    padding: 1em;
    margin-bottom: 2em;
}
#youare * {
    display: inline;
    margin: 0;
    padding: 0;
}
#youare li {
    padding: 0 0 0 1em;
}

#sponsors {
    margin: 1em;
}

#sponsors h2 {
    font-size: 20px;
    text-align: center;
}

#sponsors table {
	font-size: 0;
    border-collapse: collapse;
    width: 900px;
    margin: 10px auto 10px auto;
}
#sponsors table td,table th {
    padding: 0;
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
}
#sponsors table td img {
    margin: 3px;
}
#sponsors table th {
    text-align: left;
    background: #eee;
}

.page-image {

    float: right;
    margin-left: 1em;
    border: 1px solid orange;

}

.quote {

    border: 1px solid #eeeeee;
    margin-top: 1em;
    margin-bottom: 1em;
}


.schedule .day {
    background-color: #F7931E;
    padding: 5px;
    text-align: center;
}

.schedule .break {
    background-color: #B7DB87;
}

.schedule .time {
    background-color: #302F91;
    color: #FFFFFF;
    width: 20px;
}
.schedule .talk {
    background-color: #B5CBDF;
    font-weight: bold;
}

.schedule .speaker {
    background-color: #B5CBDF;
    font-weight: normal;
}
.schedule .topic {
    background-color: #B5CBDF;
    font-weight: bold;
}

.flyers {
    background-color: #302F91;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: right;
    color: #FFFFFF;
    margin-top: 2em;
    margin-bottom: 2em;
}

.flyers .header {
    margin: 3px;
}

.flyers .body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 1px 1px 4px 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.flyers .body .item {
    margin: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.flyers .body img {
    margin: 0 10px 0 0;
    vertical-align: middle;
}