/* other pages base */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
/*     border: 0; */
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
/*     font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline; */
}
html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}
article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: none;
}
a:hover,
a:active {
    outline: none;
}
a img {
    border: 0;
}

/* Typography */
body, button, input, select, textarea {
    color: #3e434a;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
p {
    margin-bottom: 1.5em;
}
b, strong {
    font-weight: bold;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code, kbd, tt, var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark, ins {
    background: #fff9c0;
    text-decoration: none;
}
sup, sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}

/* Elements */
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul, ol {
    margin: 0 0 1.5em 0em;
}
ul {
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    max-width: 100%;
}
figure {
    margin: 0;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
th {
    font-weight: bold;
}

/* buttons */
.btn-primary.callButton {
    margin-left: 20px;
    background: #ededed;
    border-color: #ededed;
    color: #7bad34;
}
.btn-primary.callButton:hover{
    color: #7bad34;
    background-color: rgba(237,237,237,0.8);
    border-color: rgba(237,237,237,0.8);
}
.btn-primary {
    color: #fff;
    background-color: #7bad34;
    border-color: #7bad34;
    padding: 10px 90px;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.btn-primary:hover{
    color: #fff;
    background-color: rgba(123,173,52, 0.8);
    border-color: rgba(123,173,52, 0.8);
}
/* speaker body content */
.bg-light-gray {
    margin: 50px 0 50px 0;
}
.speaker-member {
    margin-bottom: 50px;
    border-bottom: 4px solid #eeeeee;
}

.speaker-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.speaker-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.speaker-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}
a.speaker-link {
    color: #f79331;
    text-decoration: none;
}
.speaker-link:hover {
    color: #f9ad62;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

/* parallax */
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 100%;
  top: 40;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax.content {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-3 {
  height: 100%;
  background-image: url(../img/devnexusBackgroundMiddle.png);
}
.header {
    padding-top: 100px;
}

/* intro */
#intro .intro-body .brand-heading {
    font-size: 40px;
}
p.intro-text {
    font-size: 18px;
    text-align: center;
    color: #fff;
}
section#intro .fa {
    color: #222;
    font-size: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
section#intro .icon {
    position: relative;
    background: #fff;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: table;
    margin: 20px auto;
    -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
    -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
    transition: transform ease-out 0.2s, background 0.3s;
}

/* headlines with lines */
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 3px solid #7bad34;
    width: 200px; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

/* unsorted */
.questions h4 {
    color: #f7931d;
    font-size: 2.75em;
}
.questions h3 {
    font-size: 2.8em;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
.lead {
    margin-top: 10px;
}
#our-about {
    padding-top: 104px;
}
.icon-box {
    padding: 40px;
    margin-left: -15px;
}
h4.frr-three-title {
    color:#fff;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom:20px;
}
h4.section-title {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size:24px;
    color:#3e434a;
    font-weight: normal;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom:12px;
    text-transform: uppercase;
}
h4.section-white-title {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    color: #ffffff;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom:12px;
    text-transform: uppercase;
}
h5.intro-white-lead {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}
.text-muted {
    color: #7bad34;
}
input.email {
    margin-bottom: 10px;
}
.top-intro h6 {
    color: #f79331;
}
.top-intro {
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.top-intro p {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size:18px;
    font-weight: normal;
    color: #8c989f;
    line-height: 30px;
}
.list-inline{
    display:block;
}
.list-inline li{
    display:inline-block;
    color: #f79331;
}
#frr-three-cols {
    background: #ffffff;
}
#frr-three-cols-wrap {
    padding:40px 0px 20px 0;
}
.bortb {
    border-top:1px solid #e7e8ed;
    border-bottom:1px solid #e7e8ed;
    background: #fff;
}
.padtb {
    padding:50px 0;
}
.wallpaper {
    padding: 100px 0 0 0;
}
.white {
    background: #FFF;
    padding: 80px 0 80px 0;
    border-top: 1px solid #eee;
}
.green {
    background: #13C891;
    padding: 90px 0 90px 0;
}
.greyTop {
    background: #f7f7f7;
    padding: 90px 0 50px 0;
}
.darkGreen p {
    color: #ffffff;
}
.grey {
    background: #222222;
    padding: 90px 0 90px 0;
}
.bkgDarkGrey {
    padding: 50px 0 50px 0;
    background: #333;
}
.frr-heading-tag {
    color:#3e434a;
    font-size:24px;
    line-height: 24px;
    float:left;
}
.frr-heading {
    margin-bottom:30px;
}
.heading-border {
    height: 24px;
    overflow: hidden;
    position: relative;
}
.heading-border-inner-border{
    border-color:#e8eaec;
    border-top-style:solid;
    border-top-width:1px;
    display:block;
    margin-left:15px;
    position: relative;
    top:50%;
    width:100%;
}
.frr-content-tag p {
    font-size:18px;
    color:#8c989f;
    line-height: 27px;
}
#word-leader .frr-content-tag {
    padding-right:40px;
}
#featured h3 {
    border-bottom: 3px solid #7bad34;
}
.ico-type {
    color:#12c3ac;
    font-size:50px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    margin-bottom:34px;
}
.workTogether p {
    text-align: center;
}
#about strong {
    color: #555;
    font-weight: 400;
}


/* footer */
footer.site-footer {
    background: #333333;
    padding-top: 70px;
    color:#ffffff;
}
ul.footer-social .fa {
    color: #898989;
}
.footer-social a {
    color: #898989;
}
.footer-title {
    color:#898989;
    font-size: 16px;
    font-weight: normal;
    margin-bottom:21px;
}
#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #384452;
}
#footerwrap p {
    color: #bfc9d3;
}
#footerwrap h4 {
    color: white;
}
#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}
#footerwrap i:hover {
    color: #00b3fe;
}
.footer-wrapper a, .footer-wrapper a:visited, span.gc-cs-link {
    text-decoration: none;
}
.footer-wrapper a:active, .footer-wrapper a:hover {
    color: #ddd;
}
.footer-widget {
    color: #ddd;
}
.footer-wrapper i.fa {
    width: 14px;
    text-align: center;
    margin-right: 10px;
}
.legal {
    padding-top: 15px;
    text-align: center;
    color: #898989;
}
.legal span {
    color: #888888;
}
h4.footer-title {
    color:#3e434a;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom:20px;
}

/* temporary */

	#h4wrap {
		height: 13px;
		margin-bottom: 30px;
		}
	#h4wrap h4 {	text-transform: uppercase;text-align: center; font-weight:bold; font-size: 15px;height: 12px;	}


#schedule #one-fourth.track-1 {background-color:#630d1a}
#schedule #one-fourth.track-102 {background-color:#44b75c}
#schedule #one-fourth.track-2 {background-color:#fd8c2a}
#schedule #one-fourth.track-3 {background-color:#7bb7cd}
#schedule #one-fourth.track-4 {background-color:#dbaa2e}
#schedule #one-fourth.track-5 {background-color:#297ca5}
#schedule #one-fourth.track-6 {background-color:#d14928}
#schedule #one-fourth.track-7 {background-color:#455159}

#sessions {margin-bottom: 40px;}
#sessions .row .col-md-2 .col-md-12 {background: #e5e5e5; padding: 3px; text-align: center;height: 105px;}
#sessions .row {margin: 0 1px;}
#sessions h3#green {color: #519d55;}

#schedule {margin-bottom: 30px;}
#schedule #one-fourth {width: 100%; margin-bottom: 24px;padding:5px 15px;text-align: left; color: #fff;}

#schedule #one-fourth h3, #schedule #one-fourth p {color: #fff; margin: 15px 0;}
	#schedule #one-fourth h3 {font-size: 18px;}
	#schedule .row #one-fourth p a {color: white; text-decoration: underline}
	#schedule #one-fourth.track-1 {background-color:#630d1a}
	#schedule #one-fourth.track-102 {background-color:#44b75c}
	#schedule #one-fourth.track-2 {background-color:#fd8c2a}
	#schedule #one-fourth.track-3 {background-color:#7bb7cd}
	#schedule #one-fourth.track-4 {background-color:#dbaa2e}
	#schedule #one-fourth.track-5 {background-color:#297ca5}
	#schedule #one-fourth.track-6 {background-color:#d14928}
	#schedule #one-fourth.track-7 {background-color:#455159}
    #schedule #one-fourth.track-8 {background-color:#A2285E}
    #schedule #one-fourth.track-9 {background-color:#FF5D40}
    #schedule #one-fourth.track-10 {background-color:#6A237E}
    #schedule #one-fourth.track-11 {background-color:#589800}
