<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {{ content }}
  <!-- javascipt -->
  <script src="/assets/js/all.js"></script>

  <script>
  "use strict";
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-44984422-1', 'devnexus.com');
  ga('send', 'pageview');
  /*
  $('#nav').affix({
    offset: {top: $('#nav').offset().top}
  });
  $('#nav').on('affix.bs.affix', function () {
    var navHeight = $('#nav').outerHeight(true);
    $('.marketing-panel').css('margin-top', navHeight);
  });
  $('#nav').on('affix-top.bs.affix', function () {
    $('.marketing-panel').css('margin-top', 0);
  });
  */
  $(function() {
    $(".video-container").each(function() {
      var videoId = this.id;
      $(document).delegate('#video-play-button', 'click', function() {
        var iframe_url = 'https://www.youtube.com/embed/' + videoId + '?autoplay=1&autohide=1';
        var iframe = $('<iframe/>', {'frameborder': '0', 'src': iframe_url, style:"height:100%;width:100%"});

        $('#' + videoId).html(iframe).addClass('loaded');
        $('#video-play-button').hide();
      });
    });
  });

  </script>
  <script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>

</body>
</html>
