---
layout: info-fluid
---
<section class="col-lg-6 col-md-12 information-card">
<h1 class="featured-header">
      CONFERENCE INFORMATION
  </h1>
      <h2 class="travel-address center-block">
        <a href="">
              Cobb Galleria Centre | Two Galleria Parkway, Atlanta Georgia 30339
              | (770) 955-8000</a></h2>
      <p>
            The Cobb Galleria website includes
            <a href="http://cobbgalleria.com/destination/destinationDirections.aspx">
            directions to the conference center</a> from several directions as well as
            the airport</p>
      <p>
        <a href="http://itsmarta.com/">MARTA</a>, Atlanta's public transportation system,
          may be used to reach the center, but the nearest bus stop is a few blocks away.
      </p>
</section>
  <section class="col-lg-6 col-md-12 information-card">
      <h1>
          CONFERENCE LOCATION
      </h1>
      <img src="/assets/img/venue.jpg" alt="CONFERENCE LOCATION">
      <h2>
          Cobb Galleria Centre
      </h2>
      <p>
          TODO
  </p>
  <p>
          TODO
      </p>
  </section>

  <section class="col-lg-6 col-md-12 information-card">
      <h1>
          PARKING &amp; TRANSPORTATION
      </h1>
      <img src="/assets/img/parking.jpg" alt="PARKING AND TRANSPORTATION">
      <h2>
          TRANSPORTATION TO THE EVENT
      </h2>
      <p>
         TODO
      </p>
  </section>

  <section class="col-lg-6 col-md-12 information-card">
      <h1>
          LODGING
      </h1>
      <img src="/assets/img/embassy.jpg" alt="EMBASSY SUITES CENTENNIAL OLYMPIC">
      <h2>
          EMBASSY SUITES CENTENNIAL OLYMPIC
      </h2>
      <p>
          Next to Centennial Olympic Park, this all-suite hotel with a glass-roofed atrium is a 9-minute walk from the Peachtree metro stop. <br>
          <br>
          Classic suites include microwaves, minifridges and coffeemakers, plus WiFi (fee), flat-screen TVs and separate living areas with pull-out sofas.
          Upgraded suites offer dining tables; some add terraces with views.<br>
      </p>

      <p>
          We would like to extend a special group rate to DevNexus attendees with
          Group Name: <strong>DEVNEXUS</strong> and Group Code: <strong>DEV</strong>.
      </p>

      <a class="btn hero-btn-register" target="_BLANK" href="{{ page.booking-url }}">BOOK NOW</a>
  </section>
