---
layout: info-fluid
booking-url: 
---

<h1 class="featured-header">
      CONFERENCE INFORMATION
  </h1> 
  <section class="col-12 information-card">

      <h1 class="featured-header">
          GEORGIA WORLD CONGRESS CENTER
      </h1>
      <h2 class="travel-address center-block">
        <a class="map-link" href="https://www.google.com/maps/place/Georgia+World+Congress+Center/@33.76042,-84.3980223,17z/data=!4m2!3m1!1s0x0000000000000000:0x0072f65a339b8777"> 285 Andrew Young International Blvd NW, Atlanta, GA 30303
              | 404-223-4000</a>
      </h2>
      <p>
          The Georgia World Congress Center website includes directions to the
          conference center from several directions as well as the airport.

          MARTA, Atlanta’s public transportation system, may be used to reach
          the conference, and the nearest train stop adjacent to the GWCC.
      </p>
      <p>
          The Georgia World Congress Center (GWCC) is located in downtown Atlanta
          at 285 Andrew Young Boulevard NW, adjacent to Centennial Olympic Park,
          the Georgia Dome, CNN Center and Phillips Arena.
  </p>
  <p>
          The Georgia World Congress Center is the third-largest convention center
          in the United States.
      </p>
  </section>

  <section class="col-12 information-card">
      <h1 class="featured-header">
          PARKING &amp; TRANSPORTATION
      </h1>
      <img src="/assets/img/parking.jpg" alt="PARKING AND TRANSPORTATION">
      <p>
          The Georgia World Congress Center Authority operates three surface lots
          and two parking decks on campus managed by AAA Parking. There are over
          5,600 parking spaces to make visiting the GWCCA
          convenient for guests. Lots are gated with an attendant on duty during
          all show/event hours. GWCCA Public Safety patrols the lots and decks.
          Emergency vehicle assistance is available for motorists in distress.
          <br><br>
          Public transportation is serviced by the Dome/GWCC/Phillips Arena/CNN
          Center <a target="_BLANK" href="http://www.itsmarta.com/">MARTA</a> station.
          Uber and Lift are also recommended forms of transportation.
      </p>
  </section>

  <section class="col-12 information-card">
       <h2 class="featured-header">
          CONFERENCE HOTEL - AC DOWNTOWN
      </h2>
      <img src="/assets/img/achotel.jpg" alt="AC HOTEL ATLANTA DOWNTOWN">
     
      <p>
          Embrace the modern sophistication of the new AC Hotel Atlanta Downtown - and connect to the city in a truly unique way<br>
    
          The AC Hotel,  moments away from everything you want to see, do and experience in downtown Atlanta, Georgia - including Centennial Olympic Park, Mercedes-Benz Stadium, and much more features gorgeously appointed accommodations and hand-picked amenities - designed to offer you everything you need, without burdening you with unnecessary extras. Rooms and suites are elegant in their simplicity, with open floorplans, platform beds, and intelligent workspaces. Keep connected with free Wi-Fi, and spread out your belongings on the ample counter space in your bathroom.
        
      </p>

      <p>
          We would like to extend a special group rate to Devnexus attendees 
      </p>
    {% if site.links.hotel-block %}
    <a class="btn hero-btn-register" href="{{site.links.hotel-block}}">SPACE IS LIMITED. BOOK NOW</a>
    {% else %}
    <a class="btn hero-btn-register" href="{{site.links.announcements}}">Get Notified</a>
    {% endif %}  
  </section>