---
layout: default
---
<section class="hero">
  <div>
    {% include inline-social.html %}
    <ul class="list-inline hero-date-location">
      {% assign dates = page.dates | default: "00-99 XXX" %}
      <li><img src="/assets/img/calendar.png"/>{{ dates | escape }}</li>
      <li><img src="/assets/img/location.png"/>ATLANTA, GA</li>
    </ul>
    <h1><img src="/assets/img/dev-nexus-logo-large.png" alt="DevNexus"/></h1>
    <h2>Join the <span>&lt;dev/&gt;</span>olution</h2>
    <a class="btn hero-btn-register {{ page.registration.status }}" href="{{site.links.register}}">{{page.registration.text | escape}}</a>
    <h1><img src="/assets/img/2gm/devnexus2gm-blue.png" alt="DevNexus2GM"/></h1>
   </div>
</section>
<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
  {{ content }}
{% include footer.html %}
</div>
