---
layout: default
---

<section class="hero row">
  <div>
    {% include inline-social.html %}
    <ul class="list-inline hero-date-location">
      {% assign dates = page.dates | default: "00-99 XXX" %}
      <li><img src="/assets/img/calendar.png"/>{{ dates | escape }}</li>
      <li><img src="/assets/img/location.png"/>online</li>
    </ul>
    <h1><img src="{{page.branding.img}}" alt="{{page.branding.alt}}"/></h1>
    <h2>Join the VIRTUAL <span>&lt;dev/&gt;</span>olution</h2>
    <a class="btn hero-btn-register {{ page.registration.status }}" href="{{site.links.register}}">{{page.registration.text | escape}}</a>
    {% if page.partner %}
    <h3 class="co-branding center-block">
    <a href="{{page.partner.home}}"><img src="{{page.partner.img}}" alt="{{page.partner.alt}}"/></a>
    </h3>
    {% endif %}
   </div>
</section>
<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
<div class="row">	
  {{ content }}
</div>
<div class="row">
{% include footer.html %}
</div>
</div>
