---
layout: info
---
<section id="speaker" class="bg-light-gray details"
	style="margin-top: 2em; text-align: left; padding-bottom: 0">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="speaker-member row "
				style="padding:25px;
				background: linear-gradient(-90deg, #6c7070, #6c7070) repeat-y; background-size: 10px 10px;
				background-color: #282828;">

				<h4>{{page.title}}</h4>
					<div>
						<strong style="color: white">Track:</strong>
						<span>{{page.track | escape }}</span>
					</div>

			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 ">
			<div class="presentation-header">Abstract</div>
			<div class="biography-body">
				{{content}}
			</div>
		</div>
	</div>

    {% for speaker in page.persons %}
		  {% include speaker_bio.html speaker=speaker %}
    {% endfor %}

</section>
