---
layout: info
---
{% assign trackCategory = page.categories | where: "name", "Track"| first %}
{% assign track= trackCategory.CategoryItems[0].name %}

<main class="mt-32 mx-4 lg:mx-auto lg:max-w-4xl">
  <h1 class="text-3xl font-bold text-gray-900 mb-4 text-center">{{ page.title }}</h1>
  <p class="text-lg text-gray-700 leading-relaxed">{{ page.description }}</p>
</main>
<aside class="mx-4 lg:mx-auto lg:max-w-4xl my-8">
	{% for speaker in page.speakers %}
		{% assign speaker_data = site.data.speakers | where: "id", speaker.id | first %}

			<div class="flex flex-col lg:flex-row items-center lg:items-start p-6 bg-white rounded-lg shadow-md">
				<div class="w-36 h-36 overflow-hidden mb-4 lg:mb-0 lg:mr-8 mx-auto lg:mx-0">
					<img src="{{ speaker_data.profilePicture }}" alt="Photo of {{ speaker_data.fullName }}" class="object-cover w-full h-full">
				</div>
				
				<div class="flex-grow text-center lg:text-left lg:w-2/3">
					<h3 class="text-2xl font-bold text-gray-900 mb-1">{{ speaker_data.fullName }}</h3>
					<p class="text-base text-gray-500 leading-relaxed">{{ speaker_data.bio }}</p>
				</div>
			</div>
	{% endfor %}
</aside>
{% if site.feedback == 'show' %}
<section id="ratings">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 ">
			<div class="feedback-header">
				Feedback
				<span class="pull-right presentation-header"></span>
			</div>
			<div class="feedback-body">
				<form>
					<textarea rows="4" id="comment" placeholder="Tell us what you think.  (optional)" class=" form-control form-control-lg" style="height: 76px;"></textarea>
					<input type="hidden" id="talkTitle" value="{{page.title | replace: '"', ''}}"/>
					<fieldset style="margin-top: 10px;">
						<span class="star-rating star-5">
							<input type="radio" name="rating" value="1"><i></i>
							<input type="radio" name="rating" value="2"><i></i>
							<input type="radio" name="rating" value="3"><i></i>
							<input type="radio" name="rating" value="4"><i></i>
							<input type="radio" name="rating" value="5"><i></i>
						  </span>
					  <span class="pull-right">
							<a class="btn" style="margin: 10px;" id="submit">SUBMIT</a> 
					  </span>
					</fieldset>
				  </form>
			</div>
		</div>
	</div>
	</section>
{% endif %}
