---
layout: page
---
<section id="speaker" class="bg-light-gray details"
	style="margin-top: 2em; text-align: left; padding-bottom: 0">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="speaker-member row">
				{% if speaker.profilePicture %}
				<img src="{{page.profilePicture}}"
					class="img-responsive col-xs-3 col-xs-offset-1" alt="{{page.fullName}}">
				{% endif %}
				<h4>
					{{ page.fullName}}
				</h4>
				{% if page.twitter %}
					<div>
						<span class="fa fa-twitter"></span>
						<a href="https://twitter.com/{{page.twitter}}"
							target="_blank">{{page.twitter}}</a>
					</div>
			 {% endif %}
				{% if page.linkedin %}
					<div>
						<span class="fa fa-linkedin"></span>
						<a
							href="https://www.linkedin.com/in/{{page.linkedin}}"
							target="_blank">{{page.linkedin}}</a>
					</div>
				{% endif %}
				{% if page.github %}
					<div>
						<span class="fa fa-github"></span>
						<a
							href="https://github.com/{{page.github}}"
							target="_blank">{{page.github}}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 ">
			<div class="biography-header">Biography</div>
			<div class="biography-body">
              {{ page.bio }}
            </div>
		</div>
	{% if page.sessions %}
	<div class="col-sm-10 col-sm-offset-1">
	  {% assign ordered_events = page.sessions | sort: "name" %}
	  {% for e in ordered_events %}
	     <div class="biography-body">
          <a href="/presentations/{{e.id}}" title="{{e.name | escape }}">
              <h3>{{e.name | escape }}</h3>
           </a>
		 </div>
	  {% endfor %}
	</div>  
	{% endif %}
   </div>
</section>
