---
layout: default
---
{% assign company_logo = page.questionAnswers | where: "question", "Company Logo" | first %}
{% if company_logo %}
	{% assign company_logo_url = company_logo.answer %}
{% endif %}
{% assign company_name = page.questionAnswers | where: "question", "Company" | first %}
{% if company_name %}
	{% assign company_alt = company_name.answer %}
{% endif %}
<!-- Header with profile picture and speaker name -->
<header class="py-8 mt-32">
	<div class="container mx-auto px-4">
		<div class="max-w-4xl mx-auto flex items-center gap-4">
			{% if page.profilePicture %}
				<img src="{{page.profilePicture}}" class="w-32 h-32 md:w-48 md:h-48 object-cover border-2 border-white" alt="{{page.fullName}}">
			{% endif %}
			<div>
				<h1 class="text-4xl font-bold mb-2">{{ page.fullName }}</h1>
				{% if company_logo_url %}
					<img src="{{company_logo_url}}" class="h-16 md:h-24 object-cover" alt="{{company_alt | default: 'Company logo'}}">
				{% endif %}
			</div>
		</div>
	</div>
</header>

<section class="bg-gray-100 py-8">
	<div class="container mx-auto px-2">
		<div class="md:flex md:space-x-8">
			<!-- Left column (Sessions & Logo - 1/3 width) -->
			<div class="md:w-1/3 mb-8 md:mb-0">
				<!-- Sessions Section -->
				{% if page.sessions %}
				<div class="bg-white shadow-md rounded-lg p-6 mb-4">
					<div class="space-y-4">
						{% assign ordered_events = page.sessions | sort: "name" %}
						{% for e in ordered_events %}
						<div class="border-l-4 border-blue-500 pl-4">
							<a href="../events/{{e.name | slugify }}" class="block hover:bg-gray-50 p-2 -ml-2 rounded transition">
								<h3 class="text-lg font-medium text-blue-600 hover:text-blue-800">{{e.name | escape }}</h3>
							</a>
						</div>
						{% endfor %}	
					</div>
				</div>
				{% endif %}
			</div>
			
			<!-- Right column (Biography - 2/3 width) -->
			<div class="md:w-2/3">
				<!-- Biography Section -->
				<div class="bg-white shadow-md rounded-lg p-6">
					<div class="prose max-w-none text-gray-600 text-lg">
						{{ page.bio | newline_to_br }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
