---
layout: default
---
{% assign events = site.events | where_exp: "item", "page.tracks contains item.track" | sort: "name" %}
<div class="featured-header">
{% for t in page.tracks %}  
<h1>{{t | capitalize }}</h1>
{% endfor %}
</div>

{% for session in events %}
<div class="workshop-promo-row">
  <h2><a href="/presentations/{{session.slug}}">{{session.title}}</a></h2>
  {% for speaker in session.speakers %}
      {% include workshop_speaker.html data = speaker %}
  {% endfor %}
</div>
{% endfor %}

<div class="track-links my-8 text-center flex flex-wrap justify-center gap-4">
  {% assign all_tracks = "ai,java,dev-practices" | split: "," %}
  {% for track in all_tracks %}
    {% unless page.path contains track %}
      <a href="/presentations/{{ track }}" class="track-link p-2">{{ track | capitalize }}</a>
    {% endunless %}
  {% endfor %}
</div>
